
[submodule "slang/src"]
	path = slang/src
	url = git@github.com:slang-lang/slang.git
[submodule "extensions/extBase64/src"]
	path = extensions/extBase64/src
	url = git@github.com:slang-lang/extBase64.git
[submodule "extensions/extCurl/src"]
	path = extensions/extCurl/src
	url = git@github.com:slang-lang/extCurl.git
[submodule "extensions/extJson/src"]
	path = extensions/extJson/src
	url = git@github.com:slang-lang/extJson.git
